@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components/accordion.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/coin-input.css";
@import "./components/coin-selector.css";
@import "./components/coin-balance.css";
@import "./components/dialog.css";
@import "./components/faucet-widget.css";
@import "./components/header.css";
@import "./components/input.css";
@import "./components/main-layout.css";
@import "./components/popover.css";
@import "./components/tooltip.css";
@import "./components/toast.css";
@import "./components/welcome-page.css";
@import "./components/home-page.css";

@import "tailwindcss/utilities";
@import "./utilities.css";
