@layer components {
  .button {
    @apply appearance-none transition-main inline-flex items-center rounded-md gap-2;
    @apply border focus-ring btn-active cursor-pointer;

    &[aria-disabled="true"] {
      @apply cursor-default;
    }
    &.button--readonly {
      @apply cursor-default;
    }
  }
  .button--sm {
    @apply text-sm px-2 h-8;
  }
  .button--md {
    @apply text-base px-4 py-2;
  }
  .button--lg {
    @apply text-lg px-4 py-2;
  }
  .button--base {
    @apply text-gray-200 border-transparent;
    @apply hover:text-gray-100 hover:border-gray-600;
    @apply focus:text-primary-400 focus:border-primary-500;
    @apply active:text-primary-400 active:border-primary-500;

    &.button--readonly,
    &[aria-disabled="true"] {
      @apply border-transparent text-gray-400;
    }
  }
  .button--ghost {
    @apply text-gray-400 border-transparent hover:bg-white/5;
    @apply focus:border-primary-500 active:border-gray-700;

    &.button--readonly,
    &[aria-disabled="true"] {
      @apply border-transparent bg-white/0;
    }
  }
  .button--primary {
    @apply bg-primary-500 hover:bg-primary-600;
    @apply text-primary-100 font-semibold border-transparent;
    @apply focus:ring-primary-300 focus:border-primary-300;
    @apply active:border-transparent;

    &.button--readonly,
    &[aria-disabled="true"] {
      @apply bg-primary-500/10 text-primary-500/50;
    }
  }
  .btn-active:not([aria-disabled="true"]) {
    @apply active:scale-[0.98];
  }
  *[aria-pressed="true"],
  *[data-pressed="true"] {
    @apply scale-[0.9];

    &[aria-disabled="true"] {
      @apply scale-100;
    }
  }
}
