@layer components {
  .mainLayout {
    @apply flex flex-col;
    @apply h-screen text-gray-100 overflow-hidden;

    @media (max-width: 640px) {
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .mainLayout--wrapper {
    @apply flex flex-1 flex-col items-center p-4 pb-8 overflow-y-auto;
    /* Calculate the size of the header */
    margin-top: 3.875rem;

    @media (max-width: 640px) {
      /* Calculate the size of the header */
      margin-top: 6.875rem;
    }
  }

  .mainLayout-errorContent {
    @apply w-[30rem] flex-1 rounded-xl p-4 m-2;
  }
  .mainLayout-confirmBtn {
    @apply bg-primary-500 my-2 rounded-xl py-2 px-8 text-l font-semibold;
    @apply items-center justify-center cursor-pointer border;
    @apply border-primary-500 hover:border-primary-600 mt-8;
  }
}
